body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin:0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*Header*/
.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
   
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-menu {
    display:block;
    padding: 24px 0;
}

.header-nav-menu.current {
    position: relative; 
}

.header-nav-menu.current::after {
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
position: absolute;
left: 0px;
bottom: -1px;
background-color: #404bbf;
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding: 24px 0;
        margin-right: 76px;
}

.header-logo-dark{
    color: #2e2f42;
}

.header-nav-menu {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-menu:hover, .header-nav-menu:focus, .header-nav-menu.current {
    color: #404bbf;
}

.header-contacts {
    font-style:normal;
}

.header-contacts-list { display: flex;
    align-items: center;
    gap: 40px; }
    
.header-contacts-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding: 24px 0;  
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover  {
    color: #404bbf;
}

.header-contacts-link:focus  {
    color: #404bbf;
}

/*Main*/

.main-hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    
}



.page-title {
    
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto 48px;
}

.hero-button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    background-color: #4d5ae5;
    font-family: inherit;
    cursor: pointer;
    display:block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
   background-color: #404bbf;
}

/*Our Strength*/

.main-our-strength {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-strength-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-strength-icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
}

.our-strength-list-item {
    width: calc((100% - (24px * 3)) / 4);
}

.our-strength-list-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.our-strength-list-text {
   
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*Our Team*/

.main-our-team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-title {
    
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.our-team-text-wrapper {
    padding: 32px 0 32px;
}

.our-team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.our-team-profession {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.our-team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team-socials-item {
    width: 40px;
    height: 40px;
 
}

.our-team-socials-link {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-socials-link:hover, .our-team-socials-link:focus {
    background-color: #404bbf;
}            

.our-team-socials-svg {
    fill: #f4f4fd;
   
}


.our-team-item {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
   
}

.our-team-img {
   
}


/*Our Portfolio*/

.main-our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-title {
  
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
       
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.our-portfolio-item {
    width: calc((100% - (24px * 2)) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
}

.our-portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-item-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-image {
  
}


.portfolio-item-text-wrapper {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-item-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-item-service-dscr {
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       
}

 /*Footer*/

.page-footer {
background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;

}

.footer-logo-white {
color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
       
}


.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-text-container {
    margin-right: 120px;
}

.footer-socials-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-socials {
    margin-right: 80px;
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
        height: 40px;
}

.footer-socials-link {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover, .footer-socials-link:focus {
    background-color: #31d0aa;
}

.footer-socials-svg {
    fill: #f4f4fd;
}

.footer-sub-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
      margin-bottom: 16px;
}

.input-button-wrapper {
    display: flex;
    gap: 24px;
}

.footer-sub-label {
    display: flex;
        gap: 24px;
}

.input-sub {
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffff;

    }
.input-sub::placeholder {
    color #ffffff;
}

.button-sub {
border-radius: 4px;
display: flex;

justify-content: center;
align-items: center;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    outline: transparent;
    cursor: pointer;
    border: none;
}

.footer-sub-icon {
    
    fill: #fff;
    margin-left: 16px;
}

/*modal*/

.backdrop {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-button-close {
    border-radius: 50%;
    background-color: #e7e9fc;
    border-width: 1px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
    border: none;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover, .modal-button-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button-close:hover .modal-button-icon,
.modal-button-close:focus .modal-button-icon {
    fill: #ffff;
    border: none;
}

.modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}



.modal-form {

}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        padding-right: 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}
.modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}



.modal-textarea {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        resize: none;
        outline: transparent;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}

.modal-label {
    display: block;
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
        margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}


.modal-input-container {
    position: relative;
}

.modal-field-agreement {
    margin-bottom: 24px;
   
}


.modal-agreement-label {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        
}




.modal-agreement-wrapper {
    display: flex;
    gap: 8px;
}
.modal-checkbox {
    width: 16px;
    height: 16px;
}

.modal-agreement-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-agreement-label>.modal-agreement-custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}


/*.modal-agreement-text {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;     
} */

.modal-agreement-link {
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        
}

.modal-submit-button {
   
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    display: block;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
            

.modal-submit-button:hover, .modal-submit-button:focus {
border: none;
background-color:#404bbf;
}




.checkmark-icon {
   
}
